<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>data-viewer</title>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"> -->

  <!-- https://datatables.net/examples/styling/bulma.html -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bulma.min.css" />

  <style>
    .my-container {
      margin: 50px;
    }

    h1,h2 {
      margin-bottom: 40px;
      font-weight: bold;
    }

    h1 {
      font-size: 30pt;
    }

    h2 {
      font-size: 20pt;
    }

    footer {
      color: #ccc;
      margin-top: 50px;
      text-align: center;
    }

    .dataTables_wrapper {
      border: 1px solid #ddd;
      padding: 24px;
      margin: 10px;
      border-radius: 12px;
    }
  </style>
</head>

<body>
  <div class="my-container">

    <% for(const view of dataView) { %>
      <% if (view.type === 'table') { %>
    
        <% if (view.data.length > 0) { %>
          <table class="dataTable table is-striped display nowrap is-fullwidth" style="width: 100%">
            <thead>
                <tr>
                <% Object.keys(view.data[0]).forEach(header => { %>
                <th><%= header %></th>
                <% }); %>
                </tr>
            </thead>
            <tbody>
                <% view.data.forEach(entry => { %>
                <tr>
                <% Object.values(entry).forEach(value => { %>
                <td><% if (value instanceof Date) { %> <%= formatDate(value) %> <% } else { %> <%= value %> <% } %></td>
                <% }); %>
                </tr>
                <% }); %>
            </tbody>
            </table>
        <% } else { %>
          <p>No data found</p>
        <% } %>
  
      <% } else if (view.type === 'header') { %>
        <h2><%= view.data %></h2>
      <% } %>
    <% } %>
    <footer>By @thaitype/data-viewer</footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bulma.min.js"></script>
  <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>

  <script>
    $(document).ready(() => {
      $('.dataTable').DataTable({
        pageLength: 25,
        scrollX: true,
      });
      // Initial adjustment on page load
      adjustDivWidth();

      // Attach an event listener for the window resize event
      $(window).resize(() => adjustDivWidth());

      function adjustDivWidth() {
        $('.dataTables_wrapper').width('97%');
      }
    });

    const socket = io();
    socket.on('reload', (msg) => {
      window.location.reload();
    });
    socket.on('connect', () => {
      console.log('Live server connected');
    });
    socket.on('disconnect', () => {
      console.log('Disconnected, attempting to reload page');
    });
  </script>
</body>

</html>